body {
	background: url(../img/back.jpg) no-repeat center fixed; 
  	-webkit-background-size: cover;
  	background-size: cover;
	width:100%;
    height:100%;
    text-align: center!important;
	font-weight: bold!important;
	text-align: center!important;
	margin-bottom: 10%!important;
	margin-top: 15%!important;
}

form.formulaire {
	background-color: white!important;
	position: relative!important;
	width  : 350px!important;
  	height : 300px!important;
 	margin : 0 auto!important;
 	border: 2px solid #FD9E16;
 	border-radius: 2%;
 	box-shadow: 6px 6px 35px black ;
}

.btn{
	font-family: "Helvetica", "Helvetica Neue", "Trebuchet MS", Tahoma, Arial, sans-serif, "Comic Sans MS" !important;
    padding: 15px 40px;
    background-color: #FD9E16;
    border: 2px solid #FD9E16;
    color: white;
    font-size: 25px;
    border-radius: 2%;
}

.btn:hover{
	background-color: #FF6A00;
    border: 2px solid #FF6A00;
}

.mdp{
    height: 50px!important;
    text-align: center!important;
    font-size: 20px;
}

.compte{
    height: 50px!important;
    text-align: center!important;
    font-size: 20px;
}

footer{
	font-family: "Helvetica", "Helvetica Neue", "Trebuchet MS", Tahoma, Arial, sans-serif, "Comic Sans MS" !important;
	display:block;
	position:fixed;
	bottom:0;
	right:0;
	color:white!important;
}